################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
##############################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
extensions=buildout.minitagificator
minitage-globalenv=y
[versions]
[expat]
location=${buildout:directory}/../../dependencies/expat-2/parts/part
[icu]
location=${buildout:directory}/../../dependencies/icu-4/parts/part
[bz2]
location=${buildout:directory}/../../dependencies/bzip2-1.0/parts/part
[zlib]
location=${buildout:directory}/../../dependencies/zlib-1.2/parts/part
[part]
recipe = minitage.recipe.cmmi
#url = http://${mirrors:sourceforge}/boost/boost_1_44_0.tar.bz2?use_mirror=switch
#md5sum=f02578f5218f217a9f20e9c30e119c6a
url = http://${mirrors:sourceforge}/boost/boost_1_50_0.tar.bz2?use_mirror=switch
md5sum= 52dd00be775e689f55a987baebccc462

# set icu and expat env pointers
pre-configure-hook=${buildout:directory}/hooks/setenv.py:setenv
configure-options=--with-icu=${icu:location}
    --with-libraries=date_time,filesystem,graph,graph_parallel,iostreams,math,mpi,program_options,regex,serialization,signals,system,test,thread,wave
post-make-hook= ${buildout:directory}/hooks/hook.py:hook
#pre-unpack-hook= ${buildout:directory}/hooks/hook.py:relink
configure=bootstrap.sh
make-binary=./bjam
make-options=--user-config="${buildout:directory}/user-config.jam" -d2 -sCFLAGS="$CFLAGS" -sLDFLAGS="$LDFLAGS" -sCXXCFLAGS="$CFLAGS" -sICU_PATH="${icu:location}" -sICU_ROOT="${icu:location}"
[mirrors]
sourceforge = downloads.sourceforge.net

